qdrant-client>=1.14.2
langchain_community
gradio
langchain-nvidia-ai-endpoints
ipykernel
huggingface_hub[cli]
datasets
pypdf
fastapi[standard]
uvicorn
langgraph
langchain
langchain_openai
ipython
dotenv
typing
sentence-transformers
sacremoses
langchain-qdrant>=0.2
ragas
rapidfuzz
sacrebleu